<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>Edit a Menu Item</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Edit {{ item.name }}</h1><hr>

<form action="{{ url_for('edit_menu_item', restaurant_id=restaurant.id, menu_id=item.id) }}" method="POST">
    Name: <input type="text" size="30" name="name" placeholder="{{ item.name }}"><br>
    Course:<br>
        <input type="radio" name="course" value="Entree">Entree<br>
        <input type="radio" name="course" value="Appetizer">Appetizer<br>
        <input type="radio" name="course" value="Dessert">Dessert<br>
        <input type="radio" name="course" value="Beverage">Beverage<br>
    Price: <input type="text" size="30" name="price" placeholder="{{ item.price }}"><br>
    Description: <input type="text" size="30" name="description" placeholder="{{ item.description }}"><br>
    <input type="submit" value="Update"><br>
</form>

<br>
<a href="{{ url_for('show_menu', restaurant_id=restaurant.id) }}">Back to {{ restaurant.name }}</a>

</body>
</html>