<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <title>Create a Menu Item</title>
</head>
<body>

<h1>Add a new menu item</h1>

<form action="{{ url_for('new_menu_item', restaurant_id=restaurant.id) }}" method="POST">
    Name: <input type="text" size="30" name="name" placeholder="New Name"><br>
    Price: <input type="text" size="30" name="price" placeholder="$0.00"><br>
    Course:<br>
        <input type="radio" name="course" value="Entree">Entree<br>
        <input type="radio" name="course" value="Appetizer">Appetizer<br>
        <input type="radio" name="course" value="Dessert">Dessert<br>
        <input type="radio" name="course" value="Beverage">Beverage<br>
    Description: <input type="text" size="30" name="description" placeholder="What is it like?"><br>
    <input type="submit" value="Create"><br>
</form>

<br>
<a href="{{ url_for('show_menu', restaurant_id=restaurant.id) }}">Back to {{ restaurant.name }}</a>

</body>
</html>